@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bree+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.t2{
  font-family: 'Bowlby One SC', cursive;
}

header {
  width: 100%;
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.slideshow {
  position: relative;
  width: 70%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 150px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 1s ease;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  padding: 10px;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
}

.btnco{
  /* float: right; */
  border: 3px solid white;
  color: white;
  border-radius: 16px;
  padding: 10px;
  background-color: black;
  font-family: 'Bowlby One SC', cursive;
}

.btnco:hover {
  background-color: grey;
}

.btnreg{
  /* float: right; */
  border: 3px solid black;
  color: black;
  border-radius: 16px;
  padding: 10px;
  /* margin-right: 40px; */
  background-color: white;
  font-family: 'Bowlby One SC', cursive;
}

.btnreg:hover {
  background-color: grey;
}

.winner{
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: 'Bowlby One SC', cursive;
}

.menu-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  z-index: 15; 
}

.bar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  width: 200px;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu li {
  margin: 10px 0;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px; /* Plus grand pour être facile à cliquer sur mobile */
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.dropdown-menu.open {
  display: block;
}
