.bouton-personnalise1 {
    cursor: pointer;  /* Change le curseur pour montrer que c'est cliquable */
    transition: transform 0.2s;  /* Ajoute une légère animation pour donner du feedback */
    display: block;
    margin: 0 auto;  /* Centre horizontalement */
    width: 100px;
}

.bouton-personnalise1:hover {
    transform: scale(1.1);  /* Agrandit légèrement le bouton lorsqu'on passe la souris dessus */
}

#ticket{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 70%;
    z-index: -1;
}