body{
    text-align: center;
}

#scoreDisplay{
    font-size: 40px;
}

#scoresContainer{
    font-size: 20px;
}

.case1 {
    border: 2px solid black;
    width: 20%;
    text-align: center;
    float: right;
    margin-right: 20%;
}

.case2 {
    border: 2px solid black;
    width: 20%;
    text-align: center;
    float: left;
    margin-left: 20%;
    padding-top: 15;
}

.acceuil{
    position: fixed;
    bottom: 0;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
}